.pieDePagina {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    position: sticky;
    bottom: 0; 
    width: 100%;
    height: 100px;
}
