.nombre-Auto {
    text-align: center;
    font-size: 25px;
    font-family: 'italiana'; 
}

.audi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 4vw;
    grid-column-gap: 0px;
    grid-row-gap: 5vw;
    grid-template-areas: 
    "slider-frameA slider-frameA2"
    "slider-frameA3 slider-frameA4"; }

        
.slider-frameA {
    width: 30%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden; }

.slider-frameA ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide-de-4 16s infinite alternate ease-in-out; }

.slider-frameA li {
    width: 100%;
    list-style: none; }

.slider-frameA img {
    width: 100%; }

@keyframes slide-de-4 {
    0% {
    margin-left: 0; }
    20% {
    margin-left: 0; }
    25% {
    margin-left: -100%; }
    45% {
    margin-left: -100%; }
    50% {
    margin-left: -200%; }
    70% {
    margin-left: -200%; }
    75% {
    margin-left: -300%; }
    100% {
    margin-left: -300%; } }

.slider-frameA2 {
    width: 30%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden; }

.slider-frameA2 ul {
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide-de-2 12s infinite alternate ease-in-out; }

.slider-frameA2 li {
    width: 100%;
    list-style: none; }

.slider-frameA2 img {
    width: 100%; }

@keyframes slide-de-2 {
    0% {
    margin-left: 0; }
    50% {
    margin-left: 0; }
    55% {
    margin-left: -100%; }
    100% {
    margin-left: -100%; } }

.slider-frameA3 {
    width: 30%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden; }

.slider-frameA3 ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide-de-4 16s infinite alternate ease-in-out; }

.slider-frameA3 li {
    width: 100%;
    list-style: none; }

.slider-frameA3 img {
    width: 100%; }

@keyframes slide-de-4 {
    0% {
    margin-left: 0; }
    20% {
    margin-left: 0; }
    25% {
    margin-left: -100%; }
    45% {
    margin-left: -100%; }
    50% {
    margin-left: -200%; }
    70% {
    margin-left: -200%; }
    75% {
    margin-left: -300%; }
    100% {
    margin-left: -300%; } }

.slider-frameA4 {
    width: 30%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden; }

.slider-frameA4 ul {
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide-de-2 12s infinite alternate ease-in-out; }

.slider-frameA4 li {
    width: 100%;
    list-style: none; }

.slider-frameA4 img {
    width: 100%; }

@keyframes slide-de-2 {
    0% {
    margin-left: 0; }
    50% {
    margin-left: 0; }
    55% {
    margin-left: -100%; }
    100% {
    margin-left: -100%; } 
}
